.container {
  max-width: 764px;
  margin: 0 auto;
  padding: 0 2rem;
}

.posts {
  width: 100%;
  margin: 5rem auto 0;

  & + article {
    margin-top: 3rem;
    border-top: 1px solid var(--gray-700);
  }

  h1 {
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-bottom: 0.5rem;
    transition: color 0.2s;
  }

  &:hover h1 {
    color: var(--hihglight);
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  div {
    display: flex;

    time {
      margin-right: 1.5rem;
      text-transform: capitalize;
    }

    time,
    span {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      color: var(--body);

      svg {
        height: 1.25rem;
        width: 1.25rem;
        color: var(--body);
        margin-right: 0.5rem;
      }
    }
  }
}
